.menu-bar .label {
    -fx-font-size: 14pt;
}

.menu-bar .label {
   -fx-text-fill: #0062cc;
}

.menu-bar .menu-button:hover, .menu-bar .menu-button:focused, .menu-bar .menu-button:showing, .label {
    -fx-background: #c7c7c7 ;
    -fx-text-fill: white;
}

.menu-item {
    -fx-padding: 4px;
    -fx-text-fill: black;
    -fx-background: #bababa;
}

.table-view{
	-fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #0062cc; 
    -fx-opacity: 0.7;
}
.table-view .column-header .label{
   -fx-text-fill: white;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-font-size: 14pt;
   -fx-padding: 5px 5px 5px 2px;
}
.table-view .cell{
   -fx-cell-size: 45;
  -fx-alignment: center-left;
  -fx-text-fill: black;
  -fx-alignment: CENTER_LEFT;
  -fx-font-size: 13pt;
   -fx-padding: 5px 5px 5px 2px;
   
}






